 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1591px;
}

.u-section-1 .u-text-1 {
  margin: 24px auto 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: -79px 24px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 66px auto 0;
}

.u-section-1 .u-list-1 {
  width: 822px;
  grid-template-rows: auto auto auto;
  margin: 131px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 1198px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  font-size: 3rem;
  margin: -7px 30px 0 377px;
}

.u-section-1 .u-image-1 {
  width: 299px;
  height: 299px;
  background-image: url("images/WhatsAppImage2023-04-19at6.51.59AM.jpeg");
  background-position: 50% 50%;
  margin: -91px auto 0 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: -202px 30px 0 377px;
}

.u-section-1 .u-text-5 {
  margin: 17px 32px 0 375px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 200px;
  min-width: 120px;
  transition-duration: 2.25s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 30px 245px 0 auto;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-icon-5 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}

.u-section-1 .u-icon-6 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  font-size: 3rem;
  margin: -7px 30px 0 377px;
}

.u-section-1 .u-image-2 {
  width: 299px;
  height: 299px;
  background-image: url("images/WhatsAppImage2023-04-19at6.54.33AM.jpeg");
  background-position: 50% 50%;
  margin: -91px auto 0 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: -202px 30px 0 377px;
}

.u-section-1 .u-text-8 {
  margin: 17px 32px 0 375px;
}

.u-section-1 .u-social-icons-2 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 200px;
  min-width: 120px;
  transition-duration: 2.25s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 30px 245px 0 auto;
}

.u-section-1 .u-icon-7 {
  height: 100%;
}

.u-section-1 .u-icon-8 {
  height: 100%;
}

.u-section-1 .u-icon-9 {
  height: 100%;
}

.u-section-1 .u-icon-10 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}

.u-section-1 .u-icon-11 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-9 {
  text-transform: uppercase;
  font-size: 3rem;
  margin: -7px 30px 0 377px;
}

.u-section-1 .u-image-3 {
  width: 299px;
  height: 299px;
  background-image: url("images/WhatsAppImage2023-04-19at7.06.04AM.jpeg");
  background-position: 50% 50%;
  margin: -91px auto 0 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: -202px 30px 0 377px;
}

.u-section-1 .u-text-11 {
  margin: 17px 32px 0 375px;
}

.u-section-1 .u-social-icons-3 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 200px;
  min-width: 120px;
  transition-duration: 2.25s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 30px 245px 0 auto;
}

.u-section-1 .u-icon-12 {
  height: 100%;
}

.u-section-1 .u-icon-13 {
  height: 100%;
}

.u-section-1 .u-icon-14 {
  height: 100%;
}

.u-section-1 .u-icon-15 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}

.u-section-1 .u-icon-16 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    align-self: center;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: -309px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -39px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 11px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 12px;
    font-size: 1.125rem;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 10px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -90px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -198px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-9 {
    margin-top: 220px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -425px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -72px;
  }

  .u-section-1 .u-text-11 {
    font-weight: normal;
    font-size: 1.125rem;
  }

  .u-section-1 .u-social-icons-3 {
    margin-top: -11px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1393px;
  }

  .u-section-1 .u-list-1 {
    height: auto;
    margin-top: 167px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 305px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 305px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 305px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 305px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 305px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 305px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 305px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 305px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 305px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-top: -82px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 69px;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
    margin-top: -294px;
    margin-left: 125px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 125px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 125px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: -5px;
  }

  .u-section-1 .u-text-6 {
    font-size: 2.25rem;
    margin-left: 125px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -75px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -213px;
    margin-left: 125px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 125px;
  }

  .u-section-1 .u-text-9 {
    font-size: 2.25rem;
    margin-top: 235px;
    margin-left: 125px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -353px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -159px;
    margin-left: 125px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 125px;
  }

  .u-section-1 .u-social-icons-3 {
    margin-top: 76px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-top: -57px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 44px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    margin-top: -280px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: -19px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: -61px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -227px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.5rem;
    margin-top: 249px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: -339px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -187px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
  }

  .u-section-1 .u-social-icons-3 {
    margin-top: 88px;
  }
}

.u-section-1 .u-social-icons-3,
.u-section-1 .u-social-icons-3:before,
.u-section-1 .u-social-icons-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-social-icons-3.u-social-icons-3.u-social-icons-3:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-social-icons-3 {
  border-color: transparent !important;
}

.u-section-1 .u-social-icons-3.u-social-icons-3.u-social-icons-3.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-social-icons-3 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-social-icons-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-social-icons-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-social-icons-1,
.u-section-1 .u-social-icons-1:before,
.u-section-1 .u-social-icons-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-social-icons-1.u-social-icons-1.u-social-icons-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-social-icons-1 {
  border-color: transparent !important;
}

.u-section-1 .u-social-icons-1.u-social-icons-1.u-social-icons-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-social-icons-1 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-social-icons-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-social-icons-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-social-icons-2,
.u-section-1 .u-social-icons-2:before,
.u-section-1 .u-social-icons-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-social-icons-2.u-social-icons-2.u-social-icons-2:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-social-icons-2 {
  border-color: transparent !important;
}

.u-section-1 .u-social-icons-2.u-social-icons-2.u-social-icons-2.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-social-icons-2 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-social-icons-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-social-icons-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}